@import "variableglobal";
@import "fuentes";
@import "generales";
@import "nav";
@import "titulos";
@import "media";



.formulario{
  margin-bottom: 60px;
}


h2, h3{
  font-size: 40px;
  color: blueviolet;
  margin-top: 50px;
  margin-bottom: 43px;
}

section{
  font-size: 40px;
  font-weight: normal;
  line-height: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
}

span{
  color: black;
}


img{
  width: 300px;
  height: 250px;
  margin-top: 15px;  
}


.iconos{
  height: 60px;
  width: 60px;
}


footer{
  background-color: red;
  padding: 3em;
  margin-bottom: 0;
}

header{
  grid-area: header;
}

nav{
  grid-area: nav;
}

footer{
  grid-area: footer;
}

.chismentos{
  grid-area: chismentos;
}

.bienvenidos{
  grid-area: bienvenidos;
}

.registrate{
  grid-area: registrate;
}

.formulario{
  grid-area: formulario;
}

.movit{
  background-color: whitesmoke;
  margin-bottom: 1.5em;
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "header"
  "nav"
  "chismentos"
  "bienvenidos"
  "resgistrate"
  "formulario"
  "footer";
}

.chismentos{
  display: grid;
}

.bienvenidos{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 15px;
}

.registrate{
  display: grid;
}

.formulario{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 15px;
}



@media(min-width: 600px){
  .movit{
    background-color: blanchedalmond;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "nav nav"
    "chismentos chismentos"
    "bienvenidos bienvenidis"
    "resgistrate registarte"
    "formulario formulario"
    "footer footer";
}


}


@media(min-width:1000px){
  .movit{
    background-color: bisque;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "chismentos chismentos chismentos"
    "bienvenidos bienvenidos bienvenidos"
    "resgistrate registrate registrate"
    "formulario formulario formulario"
    "footer footer footer";
}






.bienvenidos{
  color: red;
}

header{
  font-size: 50px;
  font-style: normal;
  justify-content: space-between;
}
  



.moda{
  display: grid;
}

.ellas{
  grid-area: ellas;
}

.modamujer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.ellos{
  grid-area: ellos;
}


.modahombre{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 10px;
  margin-bottom: 50px;
}


.moda2022{
  background-color: whitesmoke;
  margin-bottom: 1.5em;
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "header"
  "nav"
  "moda"
  "ellas"
  "modamujer"
  "ellos"
  "modahombre"
  "footer";
}

h1{
  color: coral;
}

li{
  font-size: 40px;
  text-decoration: none;
  color: coral;
}

}


@media(min-width: 600px){
  .moda2022{
  background-color: blanchedalmond;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "header header"
  "nav nav"
  "moda moda"
  "ellas ellas"
  "modamujer  modamujer"
  "ellos ellos"
  "modahombre modahombre";
}


h1{
  color: chocolate;
}



.modahombre{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin-bottom: 30px;
  gap: 10px;
}


.modamujer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin-bottom: 30px;
  gap: 10px;
}


}


@media(min-width: 1000px){ 
  .moda2022{
  background-color: bisque;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "modamujer modamujer modamujer"
  "modahombre modahombre modahombre"
  "footer footer footer"; 
}

.chico{
  width: 400px; 
	height: 300px;
	border: 10px solid red;
	margin-top: 10px;
}


.chica{
  width: 400px; 
	height: 300px;
	border: 10px solid red;
	margin-top: 10px;
}


.modahombre{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin-bottom: 40px;
  gap: 10px;
}


.modamujer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin-bottom: 40px;
  gap: 10px;
}



}

